In [1]:
import pandas as pd

In [15]:
df_TSP = pd.read_excel(r'./data/TSP_data.xlsx')
df_TSP.drop("Unnamed: 3", axis=1, inplace=True)
df_TSP.head()

,City,X,Y,0,1,2,3,4,5,6,...,80,81,82,83,84,85,86,87,88,89
0,0,19.535839,60.550383,0.000000,36.965840,51.475355,81.378836,67.097064,96.259120,33.370955,...,49.246245,80.863445,47.423709,61.257209,57.662848,77.275617,51.023160,74.394663,48.992992,55.937227
1,1,33.114457,26.168783,36.965840,0.000000,61.916192,85.793585,56.344754,68.715982,4.096717,...,12.365675,89.480572,69.158890,32.971944,70.141295,88.052031,67.933510,78.960611,46.927489,30.706353
2,2,68.264587,77.140179,51.475355,61.916192,0.000000,30.127393,34.321687,77.505946,61.568297,...,70.737979,29.685272,19.450555,57.127957,8.299614,26.899023,11.253782,23.365373,20.042591,50.958195
3,3,97.933967,82.373501,81.378836,85.793585,30.127393,0.000000,37.217228,76.488073,86.439155,...,92.096526,9.872316,43.608488,70.224142,26.070825,14.634804,35.169850,7.105279,38.867534,65.570237
4,4,85.323186,47.357929,67.097064,56.344754,34.321687,37.217228,0.000000,43.593664,58.291616,...,59.406666,45.056782,53.505093,33.710347,39.543461,46.882896,45.567945,32.534306,19.519903,30.043575

In [9]:
df_TSP.to_dict('list')

dict_keys(['City', 'X', 'Y', 'City_id', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89])

In [14]:
tsp_dv = df_TSP.to_dict('list')

In [29]:
pd.DataFrame(tsp_dv).drop(["City_id", "City", "X", "Y"], axis=1)

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,0.000000,36.965840,51.475355,81.378836,67.097064,96.259120,33.370955,49.051391,82.428148,17.539446,...,49.246245,80.863445,47.423709,61.257209,57.662848,77.275617,51.023160,74.394663,48.992992,55.937227
1,36.965840,0.000000,61.916192,85.793585,56.344754,68.715982,4.096717,36.544336,93.721047,44.144129,...,12.365675,89.480572,69.158890,32.971944,70.141295,88.052031,67.933510,78.960611,46.927489,30.706353
2,51.475355,61.916192,0.000000,30.127393,34.321687,77.505946,61.568297,34.023885,32.462663,34.827772,...,70.737979,29.685272,19.450555,57.127957,8.299614,26.899023,11.253782,23.365373,20.042591,50.958195
3,81.378836,85.793585,30.127393,0.000000,37.217228,76.488073,86.439155,50.876398,16.957226,64.950875,...,92.096526,9.872316,43.608488,70.224142,26.070825,14.634804,35.169850,7.105279,38.867534,65.570237
4,67.097064,56.344754,34.321687,37.217228,0.000000,43.593664,58.291616,20.316760,51.676861,56.113356,...,59.406666,45.056782,53.505093,33.710347,39.543461,46.882896,45.567945,32.534306,19.519903,30.043575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,77.275617,88.052031,26.899023,14.634804,46.882896,88.716279,88.016875,56.112587,5.669493,59.959796,...,95.955010,5.683608,33.916365,77.688866,19.654380,0.000000,26.979741,14.978575,42.408532,72.292873
86,51.023160,67.933510,11.253782,35.169850,45.567945,88.733200,66.978123,43.960259,31.726590,33.506734,...,77.818448,31.452260,8.986949,67.098319,9.230338,26.979741,0.000000,29.503007,30.501828,60.760732
87,74.394663,78.960611,23.365373,7.105279,32.534306,73.760753,79.518862,44.515087,19.246031,58.115635,...,85.555618,12.525391,38.258524,64.677450,20.273638,14.978575,29.503007,0.000000,32.052701,59.734596
88,48.992992,46.927489,20.042591,38.867534,19.519903,59.533026,47.629843,14.179658,48.009845,36.746284,...,53.760452,43.036459,36.957767,37.132340,27.703798,42.408532,30.501828,32.052701,0.000000,31.062461
89,55.937227,30.706353,50.958195,65.570237,30.043575,40.511502,33.873177,16.935089,77.697607,53.026841,...,30.330656,71.897582,65.837632,6.523053,58.763404,72.292873,60.760732,59.734596,31.062461,0.000000

In [80]:
df_TSP.drop(["City", "X", "Y"], axis=1)

,0,1,2,3,4,5,6,7,8,9,...,80,81,82,83,84,85,86,87,88,89
0,0.000000,36.965840,51.475355,81.378836,67.097064,96.259120,33.370955,49.051391,82.428148,17.539446,...,49.246245,80.863445,47.423709,61.257209,57.662848,77.275617,51.023160,74.394663,48.992992,55.937227
1,36.965840,0.000000,61.916192,85.793585,56.344754,68.715982,4.096717,36.544336,93.721047,44.144129,...,12.365675,89.480572,69.158890,32.971944,70.141295,88.052031,67.933510,78.960611,46.927489,30.706353
2,51.475355,61.916192,0.000000,30.127393,34.321687,77.505946,61.568297,34.023885,32.462663,34.827772,...,70.737979,29.685272,19.450555,57.127957,8.299614,26.899023,11.253782,23.365373,20.042591,50.958195
3,81.378836,85.793585,30.127393,0.000000,37.217228,76.488073,86.439155,50.876398,16.957226,64.950875,...,92.096526,9.872316,43.608488,70.224142,26.070825,14.634804,35.169850,7.105279,38.867534,65.570237
4,67.097064,56.344754,34.321687,37.217228,0.000000,43.593664,58.291616,20.316760,51.676861,56.113356,...,59.406666,45.056782,53.505093,33.710347,39.543461,46.882896,45.567945,32.534306,19.519903,30.043575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,77.275617,88.052031,26.899023,14.634804,46.882896,88.716279,88.016875,56.112587,5.669493,59.959796,...,95.955010,5.683608,33.916365,77.688866,19.654380,0.000000,26.979741,14.978575,42.408532,72.292873
86,51.023160,67.933510,11.253782,35.169850,45.567945,88.733200,66.978123,43.960259,31.726590,33.506734,...,77.818448,31.452260,8.986949,67.098319,9.230338,26.979741,0.000000,29.503007,30.501828,60.760732
87,74.394663,78.960611,23.365373,7.105279,32.534306,73.760753,79.518862,44.515087,19.246031,58.115635,...,85.555618,12.525391,38.258524,64.677450,20.273638,14.978575,29.503007,0.000000,32.052701,59.734596
88,48.992992,46.927489,20.042591,38.867534,19.519903,59.533026,47.629843,14.179658,48.009845,36.746284,...,53.760452,43.036459,36.957767,37.132340,27.703798,42.408532,30.501828,32.052701,0.000000,31.062461
89,55.937227,30.706353,50.958195,65.570237,30.043575,40.511502,33.873177,16.935089,77.697607,53.026841,...,30.330656,71.897582,65.837632,6.523053,58.763404,72.292873,60.760732,59.734596,31.062461,0.000000

In [67]:
import random

lista = []
for i in range(len(df_TSP["City"])):
    lista.append(i)

random.shuffle(lista)

In [68]:
lista # soluÃ§Ã£o

[78,
 69,
 10,
 28,
 25,
 36,
 0,
 41,
 63,
 4,
 85,
 47,
 57,
 16,
 58,
 73,
 26,
 82,
 64,
 22,
 24,
 11,
 72,
 65,
 29,
 55,
 20,
 54,
 7,
 56,
 61,
 81,
 15,
 5,
 60,
 66,
 1,
 9,
 43,
 6,
 17,
 80,
 79,
 33,
 71,
 49,
 46,
 83,
 8,
 44,
 32,
 62,
 19,
 12,
 88,
 59,
 27,
 52,
 40,
 35,
 3,
 89,
 18,
 50,
 30,
 13,
 14,
 39,
 84,
 31,
 42,
 53,
 23,
 70,
 74,
 37,
 86,
 45,
 21,
 2,
 77,
 34,
 68,
 51,
 76,
 48,
 67,
 75,
 87,
 38]

In [69]:
lista.append(lista[0])

In [70]:
lista[-1:]

[78]

In [72]:
len(lista)-1

90

In [57]:
df_TSP.drop(["City", "X", "Y"], axis=1).loc[66, 65]

33.532252277311784

In [47]:
i = 0

df_TSP.drop(["City", "X", "Y"], axis=1).loc[i, i+1]

36.96584004862497

In [50]:
for i in range(len(lista)-1):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [55]:
print(lista)

[66, 65, 4, 17, 75, 12, 67, 52, 29, 3, 22, 43, 63, 68, 45, 53, 79, 51, 72, 35, 11, 71, 5, 2, 80, 7, 26, 30, 28, 39, 59, 76, 20, 44, 15, 38, 16, 50, 70, 85, 56, 54, 37, 27, 31, 64, 48, 61, 8, 73, 10, 58, 25, 33, 55, 74, 87, 40, 82, 46, 60, 86, 1, 69, 34, 77, 83, 32, 78, 24, 41, 42, 62, 23, 9, 36, 90, 21, 84, 81, 89, 88, 49, 13, 6, 19, 14, 18, 57, 47, 66]

In [59]:
for i in lista:
    print(i)

66
65
4
17
75
12
67
52
29
3
22
43
63
68
45
53
79
51
72
35
11
71
5
2
80
7
26
30
28
39
59
76
20
44
15
38
16
50
70
85
56
54
37
27
31
64
48
61
8
73
10
58
25
33
55
74
87
40
82
46
60
86
1
69
34
77
83
32
78
24
41
42
62
23
9
36
90
21
84
81
89
88
49
13
6
19
14
18
57
47
66

In [63]:
i = 0
lista[i+1]

65

In [ ]:
df_TSP.drop(["City", "X", "Y"], axis=1).loc[origem, destino]

In [78]:
lista

[78,
 69,
 10,
 28,
 25,
 36,
 0,
 41,
 63,
 4,
 85,
 47,
 57,
 16,
 58,
 73,
 26,
 82,
 64,
 22,
 24,
 11,
 72,
 65,
 29,
 55,
 20,
 54,
 7,
 56,
 61,
 81,
 15,
 5,
 60,
 66,
 1,
 9,
 43,
 6,
 17,
 80,
 79,
 33,
 71,
 49,
 46,
 83,
 8,
 44,
 32,
 62,
 19,
 12,
 88,
 59,
 27,
 52,
 40,
 35,
 3,
 89,
 18,
 50,
 30,
 13,
 14,
 39,
 84,
 31,
 42,
 53,
 23,
 70,
 74,
 37,
 86,
 45,
 21,
 2,
 77,
 34,
 68,
 51,
 76,
 48,
 67,
 75,
 87,
 38,
 78]

In [85]:
total_fit = 0

for i in range(len(lista)):
    destino = lista[i]
    origem = lista[i-1]
    
    total_fit += df_TSP.drop(["City", "X", "Y"], axis=1).loc[origem, destino]
    
print(total_fit)

4838.64392104023

In [53]:
total_fit = 0

for i in range(len(lista)-1):
    print(i)
    total_fit += df_TSP.drop(["City", "X", "Y"], axis=1).loc[i, i]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89

In [52]:
total_fit

0.0